<h2>Recipes</h2>
<p><a href='/'>Home</a></p>

<% @public_recipes.each do |recipe| %>
  <hr>
  <div>
    <h3><%= recipe[:name] %></h3>
    <div class='recipe_info'>
      <ul>
        <li><strong>Ingredients:</strong> <pre><%= recipe[:ingredients] %></pre></li>
        <li><strong>Instructions:</strong> <pre><%= recipe[:instructions] %></pre></li>
        <li><strong>Category:</strong> <pre><%= recipe[:category] %></pre></li>
        <li><strong>Cuisine:</strong> <pre><%= recipe[:cuisine] %></pre></li>
      </ul>
    </div>

    <div class='recipe_image'>
      <img src='<%= recipe[:image] %>' />
    </div>
  </div>
<% end %>

<hr>
<p><a href='/'>Home</a></p>
